# Install MainsailOS as:
# https://docs.mainsail.xyz/mainsailos/getting-started/raspberry-pi/
# or
# https://docs.mainsail.xyz/mainsailos/getting-started/armbian/
#
# board.cfg is a copy of https://github.com/bigtreetech/Manta-M8P/blob/master/V2.0/Firmware/generic-bigtreetech-manta-m8p-V2_0.cfg
# Pins in this config are creoss checked with board config.
# Cross check with https://global.bttwiki.com/M8P-V2_0.html#pin-description to be on the safe side.
#
# Look at the m8p sovol max wiring diagram for reference.
# If you use different connectors than my wiring diagram, you will need to change the pins in confi!
#

# MainsailOS 3.0 defaults
[include mainsail.cfg]

# Converted from original Sovol Sv08 Max configs (not available in this version)
# [include buffer_stepper.cfg]
# [include timelapse.cfg]
# [include plr.cfg]
# [include Macro.cfg]
# [include moonraker_obico_macros.cfg]

# User customizations, if you want to keep experiments from polluting your printer.cfg
# [include custom.cfg]

# https://docs.kalico.gg/Config_Reference.html#mcu
[mcu]
serial:

# Sovol calls this extra_mcu
# [mcu sovol_mcu]
# serial:

# Bondtech INDX mcu
# [mcu indx_mcu]
# serial:

# https://docs.kalico.gg/Config_Reference.html#danger-options
# https://github.com/Schmudus/SV08max/blob/main/printer_data/config/printer.cfg
[danger_options]
autosave_includes: True
log_config_file_at_startup: False
log_statistics: False
log_bed_mesh_at_startup: False
log_velocity_limit_changes: False
log_pressure_advance_changes: False
# log_shutdown_info: False
# single_mcu_trsync_timeout: 0.5 #0.25
# multi_mcu_trsync_timeout: 0.05 #0.025

# https://docs.kalico.gg/Config_Reference.html#gcode_arcs
# Default: 1.0, if this is fine, you can remove this section
# Sovol: 1.0, use this for CB1 too
# 0.1 for CB2, CM4 and up
[gcode_arcs]
resolution: 0.1

# https://docs.kalico.gg/Config_Reference.html#save_variables
[save_variables]
filename: /home/pi/printer_data/config/saved_variables.cfg

# https://docs.kalico.gg/Config_Reference.html#idle_timeout
# Default: 600
# Sovol: 1800
# Schmudi: 10800
[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1800

# https://docs.kalico.gg/Config_Reference.html#virtual_sdcard
# https://docs.mainsail.xyz/configuration/mainsail-cfg/#what-mainsailcfg-provides
# mainsail.cfg has this, not needed here
# [virtual_sdcard]
# path: /home/pi/printer_data/gcodes
# on_error_gcode: CANCEL_PRINT

# https://docs.kalico.gg/Config_Reference.html#force_move
# This module is enabled by default in Kalico!
[force_move]
enable_force_move: False

# https://docs.kalico.gg/Config_Reference.html#configuration-references
# Stock Sv08Max AB motors are 4A, and are set to 3A in Sovol config for 24.55 N-mc for up to 760mm/s, after that torque drops at 24V.
# This is prety good for 20k accel, not good for 40k.
# The more modern BTT TMC2240 1.0 is limited to 2.1A!
# Schmudi: 10k tmc5160 run_current: 2.8 # 23.60 N-mc for up to 780mm/s @24V AccelApprox:32K
# Sovol: 40k tmc5160 run_current: 3     # 24.55 N-mc for up to 760mm/s @24V AccelApprox:35K
# Codur: 20k tmc2240 run_current: 2     # 16.84 N-mc for up to 920mm/s @24V AccelApprox:23K
[constants]
run_current_ab: 2.0
microsteps_ab: 16 # Sovol:16, Schmudi: 64, Codur: 16 but will increase later
microsteps_z: 16 # Sovol:16, Schmudi: 32, Codur: 16 but will increase later

# https://docs.kalico.gg/Config_Reference.html#printer
[printer]
kinematics: corexy
max_velocity: 900, # Sovol 700, Schmudi: 500, Codur: 900
max_accel: 20000 # Sovol 40000, Schmudi: 10000, Codur: 20000
minimum_cruise_ratio: 0.25 # Sovol 0.25
max_z_velocity: 10 # Sovol 10
max_z_accel: 500 # Sovol 500
square_corner_velocity: 5.0  # Sovol 5.0

#https://docs.kalico.gg/Config_Reference.html#stepper

# Motor1
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
# endstop_pin: ^PF4??
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
full_steps_per_rotation: 200 # Default: 200, Sovol: 200
position_min: -11  # Sovol -11
position_endstop: -11  # Sovol -11
position_max: 502 # Sovol 502
homing_speed: 120 # Sovol 120
homing_retract_dist: 3 # Sovol 3
homing_retract_speed: 15.0 # Sovol 15.0

# Motor2
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
# endstop_pin: ^PF3??
microsteps: ${constants.microsteps_ab}
rotation_distance: 40
full_steps_per_rotation: 200
position_min: -1 # Sovol -1
position_endstop: 505 # Sovol 505
position_max: 505 # Sovol 505
homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

# Motor3
# [stepper_x1]
# step_pin: PB8
# dir_pin: !PB7
# enable_pin: !PE0
# endstop_pin: ^PF2??
# microsteps: ${constants.microsteps_ab}
# rotation_distance: 40
# full_steps_per_rotation: 200

# Motor4
# [stepper_y1]
# step_pin: PB4
# dir_pin: PB3
# enable_pin: !PB6
# endstop_pin: ^PF1??
# microsteps: ${constants.microsteps_ab}
# rotation_distance: 40
# full_steps_per_rotation: 200

# Motor5
[stepper_z]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
# endstop_pin: PF0??
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 80:12
position_max: 505 # Sovol 505
position_min: -10 # Sovol -10
homing_speed: 10.0
homing_retract_dist: 5.0
homing_retract_speed: 10.0
second_homing_speed: 5.0

# Motor6
[stepper_z1]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
# endstop_pin: PC15??
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 80:12

# Motor7
[stepper_z2]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
# endstop_pin:
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 80:12

# Motor8
[stepper_z3]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
# endstop_pin:
microsteps: ${constants.microsteps_z}
rotation_distance: 40
gear_ratio: 80:12

#https://docs.kalico.gg/Config_Reference.html#extruder
# [extruder] sovol vs indx ???

[thermistor bed_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5362.6

# https://docs.kalico.gg/Config_Reference.html#heater_bed
# consider leveraging pid_profile https://docs.kalico.gg/Config_Reference.html#pid_profile
[heater_bed]
heater_pin: PF8 # Fan3 Confirm on wiring diagram!
sensor_type: bed_thermistor
sensor_pin: PB1 # THB
max_power: 1.0
min_temp: -0
max_temp: 110
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120
check_gain_time: 90
hysteresis: 10
heating_gain: 1

# https://docs.kalico.gg/Config_Reference.html#heater_fan
# This is necessary for the AC bed heater setup!
# TODO: verify pins!
# [heater_fan bed_fan]
# pin: PE14??
# max_power: 1.0
# kick_start_time: 0.5
# heater: heater_bed
# heater_temp: 35
# tachometer_pin: PB10??
# tachometer_ppr: 2
# tachometer_poll_interval: 0.001375

# https://docs.kalico.gg/Config_Reference.html#bed_mesh
# Copied from Sovol config as is.
# TODO: revisit for INDX!
[bed_mesh]
speed: 400
horizontal_move_z: 1.5
algorithm: bicubic
mesh_min: 13,15              
mesh_max: 476,490
probe_count: 60,60
fade_start: 0
fade_end: 10
scan_overshoot: 4

# https://docs.kalico.gg/Config_Reference.html#bed_screws
# TODO: look to adapt https://github.com/Schmudus/SV08max/blob/main/printer_data/config/bed_screws.cfg
# [bed_screws]

# https://docs.kalico.gg/Config_Reference.html#quad_gantry_level
# Copied from Sovol config as is.
# TODO, cross check
[quad_gantry_level]
gantry_corners:
	-70,-40
	550,600
points:
    40, 40
    40, 470
    490, 470
    490, 42
speed: 300
horizontal_move_z: 10 #2.0
retry_tolerance: 0.075
retries: 15

# [output_pin main_led]
# # pin: PD13??
# value: 1.0