#[include custom.cfg]

[gcode_arcs]
resolution: 0.1

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1800

[save_variables]
filename: /home/pi/printer_data/config/saved_variables.cfg

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 40000
minimum_cruise_ratio: 0.25
max_z_velocity: 10
max_z_accel: 500
square_corner_velocity: 5.0

# Motor1
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
# endstop_pin: ^PF4??
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
position_min: -11              
position_endstop: -11
position_max: 502
homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

# Motor2
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
# endstop_pin: ^PF3??
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
position_min: -1
position_endstop: 505
position_max: 505
homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

# Motor3
# [stepper_x1]
# step_pin: PB8
# dir_pin: !PB7
# enable_pin: !PE0
# endstop_pin: ^PF2??
# microsteps: 16
# rotation_distance: 40
# full_steps_per_rotation: 200

# Motor4
# [stepper_y1]
# step_pin: PB4
# dir_pin: PB3
# enable_pin: !PB6
# endstop_pin: ^PF1??
# microsteps: 16
# rotation_distance: 40
# full_steps_per_rotation: 200

# Motor5
[stepper_z]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
# endstop_pin: PF0??
microsteps: 16
rotation_distance: 40
gear_ratio: 80:12
position_max: 505
position_min: -10
homing_speed: 10.0
homing_retract_dist: 5.0
homing_retract_speed: 10.0
second_homing_speed: 5.0

# Motor6
[stepper_z1]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
# endstop_pin: PC15??
microsteps: 16
rotation_distance: 40
gear_ratio: 80:12

# Motor7
[stepper_z2]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
# endstop_pin:
microsteps: 16
rotation_distance: 40
gear_ratio: 80:12

# Motor8
[stepper_z3]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
# endstop_pin:
microsteps: 16
rotation_distance: 40
gear_ratio: 80:12

[thermistor bed_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5362.6

[heater_bed]
heater_pin: PF8 # Fan3
sensor_type: bed_thermistor
sensor_pin: PB1 # TB
max_power: 1.0
min_temp: -0
max_temp: 110
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120
check_gain_time: 90
hysteresis: 10
heating_gain: 1

# [heater_fan bed_fan]
# pin: PE14??
# max_power: 1.0
# kick_start_time: 0.5
# heater: heater_bed
# heater_temp: 35
# tachometer_pin: PB10??
# tachometer_ppr: 2
# tachometer_poll_interval: 0.001375

# [output_pin main_led]
# # pin: PD13??
# value: 1.0